<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="" target="_blank">
        <img class="round" src="../assets/cats.jfif" alt="logo">
        <h1>Quản lý nhân sự</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <!-- Dashboard -->
      <li nz-menu-item nzTitle="Dashboard">
        <a routerLink="/dashboard"><i class="bi bi-house"></i>  Dashboard</a>
      </li>

      <!-- Quản lý nhân sự -->
      <li nz-submenu nzTitle="Quản lý nhân sự" nzIcon="user">
        <ul>
          <li nz-menu-item><a routerLink="/employees">Danh sách nhân viên</a></li>
          <li nz-menu-item><a routerLink="/positions">Chức vụ</a></li>
          <li nz-menu-item><a routerLink="/departments">Phòng ban</a></li>
          <li nz-menu-item><a routerLink="/contracts">Hợp đồng</a></li>
        </ul>
      </li>

      <!-- Chấm công -->
      <li nz-menu-item nzIcon="clock-circle" nzTitle="Chấm công">
        <a routerLink="/attendance"><i class="bi bi-clock"></i> Chấm công</a>
      </li>

      <!-- Bảng lương -->
      <li nz-menu-item nzIcon="dollar" nzTitle="Bảng lương">
        <a routerLink="/payroll"><i class="bi bi-cash"></i> Lương thưởng</a>
      </li>

      <!-- Tài khoản -->
      <li nz-menu-item nzIcon="team" nzTitle="Tài khoản người dùng">
        <a routerLink="/users"><i class="bi bi-person"></i> Người dùng</a>
      </li>
    </ul>
  </nz-sider>

  <nz-layout>
    <nz-header>
      <div class="app-header d-flex justify-content-between align-items-center" style="height: 100%;">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed" >
          <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
        </span>
      
        <a nz-dropdown [nzDropdownMenu]="userMenu" class="d-flex align-items-center text-decoration-none me-4" style="cursor: pointer;">
          <img src="../assets/logo/cat2.jfif" class="rounded-circle me-2" width="32" height="32" alt="Avatar" />
          <span class="text-dark me-1">{{ userInfo?.name || 'Ẩn danh' }}</span>
          <!-- <nz-icon nzType="down"></nz-icon> -->
        </a>
        <nz-dropdown-menu #userMenu="nzDropdownMenu">
          <ul nz-menu nzSelectable>
            <li nz-menu-item><i class="bi bi-person-circle me-2"></i>Thông tin cá nhân</li>
            <li nz-menu-item><i class="bi bi-translate me-2"></i>Đổi ngôn ngữ</li>
            <li nz-menu-item nzDanger (click)="logOut()"><i class="bi bi-box-arrow-right me-2"></i>Đăng xuất</li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </nz-header>
    
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
