<nz-card nzTitle="Quản lý Hợp đồng" [nzBordered]="false">
  <div class="row">
    <div class="col-4">
      <input type="text" nz-input placeholder="Tìm theo tên hoặc mã nhân viên" [(ngModel)]="searchKeyword" />
      <ng-template #suffixIcon>
        <i nz-icon nzType="search"></i>
      </ng-template>
    </div>
    <div class="col-8">
      <button nz-button nzType="primary" (click)="onAdd()" style="float: right;"><i class="bi bi-plus-square me-2"></i>
        Thêm mới</button>
    </div>
  </div>
    <div class="mt-3">
    <nz-table
      [nzData]="contracts"
      [nzBordered]="true"
      [nzSize]="'middle'"
      [nzPageSize]="5"
      nzShowPagination="true"
      [nzScroll]="{ x: '100vw', y: 'calc(64vh - 100px)' }">
      <thead>
        <tr>
          <th nzWidth="100px">Mã hợp đồng</th>
          <th nzWidth="100px">Tên nhân viên</th>
          <th nzWidth="100px">Ngày bắt đầu</th>
          <th nzWidth="100px">Ngày kết thúc</th>
          <th nzWidth="100px">Chức vụ</th>
          <th nzWidth="50px" style="text-align: center;" nzRight><i class="bi bi-sliders2 fs-5 text-dark"></i></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contract of contracts">
          <td>{{ contract.code }}</td>
          <td>{{ contract.employeeName }}</td>
          <td>{{ contract.startDate | date: 'dd/MM/yyyy' }}</td>
          <td>{{ contract.endDate | date: 'dd/MM/yyyy' }}</td>
          <td>{{ contract.position }}</td>
          <td style="text-align: center;" nzRight>
            <button nz-button nzType="link" class="p-2" nz-tooltip nzTooltipTitle="chi tiết" (click)="onView()"><i
                class="bi bi-eye fs-6 text-info"></i></button>
            <button nz-button nzType="link" class="p-2" nz-tooltip nzTooltipTitle="Sửa" (click)="onEdit(null)"><i
                class="bi bi-plus-square fs-6 text-primary"></i></button>
            <button nz-button nzType="link" class="p-2" nz-tooltip nzTooltipTitle="Xóa" nzDanger
              (click)="onDelete(null)"><i class="bi bi-trash fs-6 text-danger"></i></button>
          </td>
        </tr>
      </tbody>
    </nz-table>
    </div>
  </nz-card>
  