/* You can add global styles to this file, and also import other style files */
/* Áp dụng cho Chrome, Edge, Safari */
::-webkit-scrollbar {
    width: 6px;       /* Chiều ngang thanh cuộn dọc */
    height: 6px;      /* Chiều cao thanh cuộn ngang */
  }
  
  ::-webkit-scrollbar-track {
    background: transparent; /* Phần nền trong */
  }
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #8e44ad, #f1c40f); /* tím → vàng */
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(100, 100, 100, 0.6);
  }
  
  @media (min-width: 1920px) {
    .w-modal-dialog {
      width: 45% !important;
    }
  
    .w-modal-dialog .ant-modal-body {
      max-height: 80vh;
      overflow-y: scroll !important;
    }
  }

  @media (min-width: 1500px) and (max-width: 1920px) {
    .w-modal-dialog {
      width: 45% !important;
    }
  
    .w-modal-dialog .ant-modal-body {
      max-height: 80vh;
      overflow-y: scroll !important;
    }
  }

  @media (min-width: 1200px) and (max-width: 1500px) {
    .w-modal-dialog {
      width: 55% !important;
    }
  
    .w-modal-dialog .ant-modal-body {
      max-height: 80vh;
      overflow-y: scroll !important;
    }
  }

  @media (min-width: 992px) and (max-width: 1200px) {
    .w-modal-dialog {
      width: 65% !important;
    }
  
    .w-modal-dialog .ant-modal-body {
      max-height: 75vh;
      overflow-y: scroll !important;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    .w-modal-dialog {
      width: 85% !important;
    }
  
    .w-modal-dialog .ant-modal-body {
      max-height: 70vh;
      overflow-y: scroll !important;
    }
  }

  @media (max-width: 767px) {
    .w-modal-dialog {
      width: 96% !important;
      display: inline-block !important;
    }
  
    .w-modal-dialog .ant-modal-body {
      max-height: 80vh;
      overflow-y: scroll !important;
    }
  }