<h4>Danh sách nhân sự</h4>
<nz-breadcrumb nzSeparator=">">
    <nz-breadcrumb-item>
        <a routerLink="/Dashboard">Dashboard</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
        <a>Danh sách nhân sự</a>
    </nz-breadcrumb-item>
</nz-breadcrumb>
<nz-table #sortTable [nzData]="listOfData" nzTableLayout="fixed">
    <thead>
        <tr>
            <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">
                {{ column.title }}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of sortTable.data">
            <td>{{ data.name }}</td>
            <td>{{ data.age }}</td>
            <td>{{ data.gender }}</td>
            <td>{{ data.position }}</td>
            <td>{{ data.department }}</td>
        </tr>
    </tbody>
</nz-table>