<nz-card nzTitle="Quản lý nhân viên" [nzBordered]="false">

  <div class="row">
    <div class="col-4">
      <input type="text" nz-input placeholder="Tìm theo tên hoặc mã nhân viên" [(ngModel)]="searchKeyword" />
      <ng-template #suffixIcon>
        <i nz-icon nzType="search"></i>
      </ng-template>
    </div>
    <div class="col-8">
      <button nz-button nzType="primary" (click)="onAdd()" style="float: right;"><i class="bi bi-plus-square me-2"></i>
        Thêm mới</button>
    </div>
  </div>
  <div class="mt-3">
    <nz-table [nzData]="employees" [nzBordered]="true" [nzSize]="'middle'" nzShowPagination="true" [nzPageSize]="5"
    
     [nzScroll]="{ x: '650px', y: 'calc(55vh - 100px)' }">

      <thead>
        <tr>
          <th nzWidth="15px"><label nz-checkbox [(ngModel)]="checked"></label></th>
          <th nzWidth="100px">Mã NV</th>
          <th nzWidth="100px">Họ tên</th>
          <th nzWidth="100px">Phòng ban</th>
          <th nzWidth="100px">Chức vụ</th>
          <th nzWidth="100px">Ngày vào làm</th>
          <th nzWidth="50px" style="text-align: center;" nzRight><i class="bi bi-sliders2 fs-5 text-dark"></i></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emp of employees">
          <td><label nz-checkbox [(ngModel)]="checked"></label></td>
          <td>{{ emp.code }}</td>
          <td>{{ emp.name }}</td>
          <td>{{ emp.department }}</td>
          <td>{{ emp.position }}</td>
          <td>{{ emp.startDate | date: 'dd/MM/yyyy' }}</td>
          <td style="text-align: center;" nzRight>
            <button nz-button nzType="link" class="p-2" nz-tooltip nzTooltipTitle="chi tiết" (click)="onView(emp)"><i
                class="bi bi-eye fs-6 text-info"></i></button>
            <button nz-button nzType="link" class="p-2" nz-tooltip nzTooltipTitle="Sửa" (click)="onEdit(emp)"><i
                class="bi bi-plus-square fs-6 text-primary"></i></button>
            <button nz-button nzType="link" class="p-2" nz-tooltip nzTooltipTitle="Xóa" nzDanger
              (click)="onDelete(emp)"><i class="bi bi-trash fs-6 text-danger"></i></button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</nz-card>